<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
  <title>vue-memo</title>

  <meta content="vue-memo - " name="title">
	<meta content="for memo" name="description">
	<meta content='vue.js, webpack, gulp, firebase, ' name='keywords'>

  <link rel="stylesheet" href="css/style.css">

</head>
<body>

  <div id="app">
    <ul>
      <li class="user" v-for="user in users" transition>
        <span>{{user.name}} - {{user.email}}</span>
        <button v-on:click="removeUser(user)">X</button>
      </li>
    </ul>
    <form id="form" v-on:submit.prevent="addUser">
      <input v-model="newUser.name">
      <input v-model="newUser.email">
      <input type="submit" value="Add User">
    </form>
    <ul class="errors">
      <li v-show="!validation.name">Name cannot be empty.</li>
      <li v-show="!validation.email">Please provide a valid email address.</li>
    </ul>
  </div>
  
  <script src="js/bundle.js"></script>
</body>
</html>
